.container
  table.table
    tr(ng-repeat="user in users")
      td(ng-show="user.isAdmin()") {{ user.firstName + ' ' + user.lastName }}
      td(ng-show="!user.isAdmin()")
        a(href="", ng-click="viewUser(user)") {{ user.firstName + ' ' + user.lastName }}
